.Header {
  display: flex;
  align-items: center;
  height: 3em;
  background-color: #eee;
  padding: 0 0.5em;
}

.Header a {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: inherit;
  color: inherit;
}

.Header a:hover {
  text-decoration: underline;
}

.Header img {
  height: 2.5em;
}

.Header a span {
  font-size: 1.5em;
  font-weight: bold;
}
