@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/sanitize.css/sanitize.css";

@import "./css/table.scss";
@import "./css/button.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div#root {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

main {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  max-width: 100ch;
  margin: 0 auto;
  padding: 0.5em;

  &.Home {
    flex: 0;
  }
}

h1 {
  text-align: center;
}

.jumbo {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5em;
  button {
    font-size: 1.3em;
  }
}

nav {
  display: flex;
  gap: 0.3em;
}
